.boasvindas {
    height: 100%;
    background-image: url('./assets/img/homebg.png');
    background-size: cover;
    background-position: bottom;
}
.boasvindas h1 {
    font-size: 80px;
    text-align: left;
}

.boasvindas .previa {
    background-color: #E6CCB2;
    padding: 30px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
    text-align: justify;
}

.boasvindas .previa button {
    width: 50%;
    height: 50px;
    border-radius: 40px;
    border: none;
    transition: all 0.2s;
    font-size: 14px;
    cursor: pointer;
    background-color: #9C6644;
    margin-top: 10px;
    color: #EDE0D4;
}

.boasvindas .previa button:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
    background-color: #7F5539;
}

.topicos {
    display: flex!important;
    flex-direction: row;
    align-items: center;
}
.info h1{
    font-size: 55px;
    text-align: left;
}

.passoapasso {
    margin-left: 15%!important;
    display: block;
}

.passoapasso ol {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
}

.passoapasso ol li p {
    font-size: 20px;
}

.extra {
    color: #EDE0D4;
    background-color: #7F5539;
    padding: 30px 30px 120px 30px;
	box-shadow: 0px 5px 10px 15px rgba(179, 179, 179, 0.493);
}

.extra h1 {
    font-size: 40px;
}

.img {
    margin-top: -150px;
    padding: 30px;
}

/* imgs do final */

.box-out {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book {
    width: 180px;
    height: 255px;
    background-color: #B08968;
    transition: all .3s ease-in-out;
    transform-origin: left center 0px;
    transform-style: preserve-3d;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    border: 5px solid #B08968;
}

.books-1 {
    background: url('./assets/img/livro1.jpg');
    background-size: 180px 255px;
}

.books-2 {
    background: url('./assets/img/livro2.jpg');
    background-size: 180px 255px;
}

.books-3 {
    background: url('./assets/img/livro3.jpg');
    background-size: 180px 255px;
}

.books-4 {
    background: url('./assets/img/livro4.jpg');
    background-size: 180px 255px;
}

.book:hover {
    transform: rotateY(-28deg) rotateZ(-2deg) scale(1.02);
    box-shadow: 1px 3px 2px #B08968, 20px 8px 0 #B08968;
}