@media screen and (max-width: 700px){
    #lista .item {
        display: block;
    }

    .informacoes div {
        margin-left: 5%;
        width: 90%;
    }

    
    form fieldset:first-child, form fieldset:nth-child(8) {
        max-width: 250px;
        margin-left: 0;
    }
}