@media screen and (max-width: 700px){
    #lista .item {
        display: block;
    }

    #lista button {
        width: 90%;
        margin-left: 0;
    }

    .informacoes div {
        margin-left: 5%;
        width: 90%;
    }

    .informacoes div:last-child {
        text-align: center;
    }
    
    form fieldset:first-child, form fieldset:nth-child(8) {
        max-width: 250px;
        margin-left: 0;
    }
    
    form fieldset select {
        width: 100%;
    }

    
    .modalDialog form .btn {
        text-align: center;
        width: 100%;
        display: block!important;;
    }

    .modalDialog form button {
        width: 100%!important;
    }
}