button {
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    transition: all 0.2s;
    font-size: 14px;
    cursor: pointer;
    background-color: #9C6644;
    margin-top: 10px;
    color: #EDE0D4;
}

button:hover {
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
    background-color: #7F5539;
}

#lista .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6CCB2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
}

#lista button {
    width: 200px;
    margin-left: 30px;
}

#lista button:last-child {
    border: 1px solid #9C6644;
    background-color: #EDE0D4;
    color: #9C6644;
}

.informacoes {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.informacoes div {
    margin-left: 100px;
    text-align: left;
    margin-bottom: 20px;
}

.informacoes div:last-child {
    margin-bottom: 0;
    width: 100%;
    text-align: right;
}

form {
    max-width: 700px;
    padding: 40px 40px;
    background: #EDE0D4;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 5px 20px 5px rgba(170, 169, 169, 0.65);
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


form fieldset {
	border: none;
	padding: 0;
	margin: 10px 0;
	position: relative; 
    text-align: left;
    max-width: 250px;
}

form fieldset input {
	width: 90%;
	height: 20px;
	background: #6b6b6b2c;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
	color: #333;
	font-family: 'Quicksand', sans-serif;
    margin-top: 5px
}

form fieldset textarea {
    width: 90%;
    background: #6b6b6b2c;
    border-radius: 8px;
    border: 0;
    padding: 12px 24px;
    color: #333;
    resize: none;
    margin-top: 5px;
  }

form fieldset:first-child, form fieldset:nth-child(8) {
    max-width: none;
    width: 90%;
    margin-left: 5%;
}


form button {
    width: 100%;
}

hr {
    margin-bottom: 20px;
}