#lista .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E6CCB2;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 30px;
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.493);
}

.informacoes {
    display: flex!important;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.informacoes div {
    margin-left: 100px;
    text-align: left;
    margin-bottom: 20px;
}

.informacoes div:last-child {
    margin-bottom: 0;
}