
footer {
    background: #B08968;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    color: #EDE0D4;
}

footer div:last-child {
    display: flex;
    flex-direction: column;
}

footer div a {
    text-decoration: none;
    color: #EDE0D4;
    margin: 10px;
    transition: all 0.5s;
}

footer div a:hover {
    font-weight: bold;
    color: #7F5539;
}

@media screen and (max-width: 700px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
}